.places__link {
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 1s ease;
  }

  .places__link:hover {
    opacity: 0.3;
  }