.lead {
  width: calc(100% - 148px * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  background-color: #2A2C2F;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1279px) {
  .lead {
    width: calc(100% - 48px * 2);
  }
}

@media (max-width: 1023px) {
  .lead {
    width: 100%;
  }
}
