.header {
  width: calc(100% - 48px * 2);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  background-color: #2A2C2F;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1023px) {
  .header {
    width: calc(100% - 28px * 2);
  }
}

@media (max-width: 767px) {
  .header {
    width: calc(100% - 16px * 2);
  }
}
