.footer__link {
  margin-right: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: inherit;
  transition: opacity 1s ease;
}

.footer__link:last-child {
  margin-right: 0px;
}

.footer__link:hover {
  opacity: 0.8;
}


@media (max-width: 767px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;

  }

  .footer__link:last-child {
    margin-bottom: 0px;
  }
}