.lead__subtitle {
  max-width: 640px;
  margin: 32px 0 64px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
}

@media (max-width: 767px) {
  
  .lead__subtitle {
  max-width: 288px;
  margin: 16px 0 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  }
}