.lead__caption {
box-sizing: border-box;
margin: 8px 0 0 0;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 1.4;
letter-spacing: 0.15em;
text-transform: uppercase;
}


@media (max-width: 1023px) {
  .lead__caption {
    margin: 8px 0 0 0;
    padding-left: 24px;
  }

}

@media (max-width: 767px) {
  .lead__caption {
    margin: 8px 0 0 0;
    padding-left: 16px;
  }
}
